.btn-group{
	width: 100%;
}

ul.nav a:hover { 
	background-color: #eee !important; 
}

div#idlogin {
	position: relative;
	top: 50%;
	transform: translateY(100%);
}

.login-error {
	margin-top: 150px;
	margin-bottom: -200px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  background-color: #f5f5f5;
}

.footer-right{
	padding-top: 10px;
	padding-right: 10px;
	text-transform: uppercase;
	text-align: right;
}